# This is a basic workflow that is manually triggered

name: Sync main to Production

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    
jobs: 
  branch-sync:
    runs-on: ubuntu-latest 
    steps: 
      - name: Checkout code
        uses: actions/checkout@v4     
        with: 
          fetch-depth: 0 

      - name: Set up git 
        run: | 
          git config --global user.email "ema-bot@users.noreply.github.com"
          git config --global user.name "Emarsys Bot"
          
      - name: Sync main branch to Production
        run: | 
          git fetch origin 
          git checkout production
          git merge main
          git push